#intro-example {
  height: 400px;
}
#popular_movies, #upcoming_movies {
    padding: 12px 23px;
    margin: 20px 18px;
    border-radius: 4px;
    h4 {
        padding: 2px 20px;
    }
}
h2.title {
    text-align: center;
    margin: 15px 0px;
}
.movies-list {
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .movie {
        width: 200px;
        margin: 0px 10px;
        cursor: pointer;
        .image-wrapper {
            border-radius: 6px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .movie-title {
            font-weight: 800;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
        .release-date {
            color: #949494;
            font-weight: 600;
        }
    }
    
}
/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
